.head{
    text-align: center;
margin: 100px auto;
border: 5px solid rgb(221, 169, 36);
padding: 25px 1px;
font-size: 75px;
font-style: italic;
}

.cookie{
    text-align: center;
    margin: 10px auto;
    border: 10px solid pink;
    border-style: solid;
    padding: 1px 1px;
    background-color: chocolate;
}

.something{
    text-align: center;
    margin: 10 px auto;
    border: 10px solid blue;
    border-style: solid;
}

body {
background-color: cornflowerblue;
text-align: center;
}
h1 { color: rgb(34, 54, 54);}
h2 { color: black;}
