#head {
  text-align: center;
  margin: 100px auto;
  border: 5px solid rgb(221, 169, 36);
  position: relative;
  padding: 25px 1px;
  font-size: 70px;
  width: 50vw;
  font-family: "Oswald", sans-serif;
  border-radius: 10px;
}

.butterhead {
  text-align: center;
  margin: 50px auto;
  border: 3px solid rgb(40, 55, 55);
  border-style: solid;
  padding: 10px auto;
  width: 45vw;
  font-family: "Oswald", sans-serif;
  border-radius: 15px;
}

.butterbody {
  text-align: center;
  border: 3px hidden;
  padding: 10px auto;
  font-family: "Kalam", cursive;
  border-radius: 15px;
}

.butterimage {
  width: 45vw;
}

.gingerhead {
  text-align: center;
  margin: 50px auto;
  border: hidden;
  border-style: solid;
  width: 45vw;
  font-family: "Oswald", sans-serif;
  border-radius: 15px;
}

.gingerbody {
  text-align: center;
  margin: 10px auto;
  width: 45vw;
  border-radius: 15px;
  font-family: "Kalam", cursive;
}

.gingerimage {
  width: 45vw;
}

.almondhead {
  text-align: center;
  margin: 50px auto;
  border: hidden;
  border-style: solid;
  width: 45vw;
  font-family: "Oswald", sans-serif;
  border-radius: 15px;
}

.almondbody {
  text-align: center;
  margin: 10px auto;
  width: 45vw;
  border-radius: 15px;
  font-family: "Kalam", cursive;
}

.almondimage {
  width: 45vw;
}

.background {
  background-color: rgb(169, 192, 236);
  text-align: center;
  margin: 20px auto;
  border: 3px rgb(34, 31, 31);
  padding: 20px 50px;
  width: 60vw;
  border-radius: 20px;
}
h1 {
  color: rgb(34, 54, 54);
}

body {
  background-color: cornflowerblue;
}
